body{
    height: 3000px;
    padding-top: 50px;
    padding-left: 55px;
}
.header{
    background-color: rgb(255,177,77);
    color: black;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    height:50px;
}
.div_1{
    background-color: rgb(153,204,51);
    box-shadow: 1px 2px 2px gray;
    height:200px;
    width: 200px;
    color:black;
}
.div_2{
    background-color: rgb(153,204,51);
    box-shadow: 1px 2px 2px gray;
    height:200px;
    width: 200px;
    color:black;
}
.div_1:hover{
    height: 210px;
    width: 210px;
}
.div_2:hover{
    height: 210px;
    width: 210px;
}
.sidebar{
    position:fixed;
    background-color: white;
    border: 2px 2px 2px 2px gray;
    color:black;
    top:50px;
    bottom: 0px;
    left: 0px;
    width: 60px;
}
